html, body, main, header, footer, div {
    margin: 0;
    padding: 0;
}
main {
    font-family: 'Heebo', sans-serif;

    --bg-dark: #0A0119;
    --bg-light: #F9F5FF;
    
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

.main-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-color: var(--bg-dark);
    color: var(--bg-light);
}
.header-wrapper {
    position: fixed;
    width: 100%;
    background-color: inherit;
}
.header-top {
    padding: 3.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
    font-weight: var(--fw-medium);
    font-size: 20px;
}
.nav-btn {
    display: none;
}
.intro-content-wrapper {
    padding-top: 141px;
    display: flex;
    flex-direction: column-reverse;
}
.intro-content {
    text-align: center;
    text-transform: capitalize;
}
.greeting {
    line-height: 40px;
    font-size: 32px;
    font-weight: var(--fw-bold);
}
.title {
    line-height: 40px;
    font-size: 32px;
    font-weight: var(--fw-bold);
}
.resume-btn {
    display: block;
    margin: auto;
    background-color: var(--bg-light);
    border: 0;
    border-radius: 28px;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: var(--fw-medium);
    color: var(--bg-dark);
}

@media screen and (max-width: 767px) {
    .nav-btn {
        display: block;
        border: 0;
        background-color: transparent;
    }
    .nav-btn svg {
        width: 24px;
        height: 24px;
        color: var(--bg-light);
    }
    .nav-wrapper {
        display: none;
    }
    .nav-wrapper.show {
        display: block;
        position: fixed;
        width: 100%;
        top: 141px;
        bottom: 0;
        background-color: var(--bg-dark);
        color: var(--bg-light);
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-wrapper.show .nav-list{
        padding: 0 1.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-wrapper.show li {
        padding: 1.75rem 0;
    }
    .nav-wrapper.show a {
        padding: 0.75rem 0;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 24px;
        font-weight: var(--fw-medium);
        color: var(--bg-light);
    }
}

@media screen and (min-width: 768px) {

}
